<section class="add-contact">
	<div class="addHeader">
		<a class="btn" ng-href="#/indice" ng-show="contactId==0">&#8810;</a>
		<a class="btn" ng-href="#/detalle/{{contactId}}" ng-show="contactId>0">&#8810;</a>
		<h3 ng-show="contactId==0">Agregar Contacto</h3>
		<h3 ng-show="contactId>0">Editar</h3>
	</div> <!-- addHeader -->

	<div class="contact-add">
		<form name="addForm" ng-submit="addForm.$valid && addContact()" novalidate>
			<div class="form-group">
				<sub ng-show="addForm.name.$invalid && addForm.name.$touched">El nombre es requerido</sub>
				<label>Nombre:</label> <input type="text" name="name" ng-model= "newContact.name" required  class="form-control" ng-model-options="{ updateOn:'blur'}">
			</div>
			<div class="form-group">
				<label>Apellido:</label> <input type="text" name="lastName" ng-model= "newContact.lastName"  class="form-control">
			</div>
			<div class="form-group">
				<label>Empresa:</label> <input type="text" name="empresa" ng-model= "newContact.empresa"  class="form-control">
			</div>
			<div class="form-group has-feedback">
				<sub ng-show="addForm.phone.$invalid && addForm.phone.$touched">Campo inválido</sub>
				<label>Teléfono:</label> <input type="number" name="phone" ng-model= "newContact.telefono" class="form-control" ng-minlength="6" ng-maxlength="20" ng-model-options="{ updateOn: 'blur' }" required>
			</div>
			<div class="form-group">
				<sub ng-show="addForm.email.$invalid && addForm.email.$dirty">E-mail inválido</sub>
				<label>E-mail:</label> <input type="email" name="email" ng-model= "newContact.email" class="form-control" ng-model-options="{ updateOn: 'blur'}">
			</div>
			<div class="form-group">
				<label>Notas:</label><textarea ng-model= "newContact.notes" name="notes" cols="30" rows="4" class="form-control"></textarea>
			</div>

			<button type="submit" class="btn btn-info" ng-show="contactId==0"><span class="glyphicon glyphicon-ok"></span> Agregar</button>

			<button type="button" class="btn btn-info" ng-show="contactId>0" ng-click="edit()"><span class="glyphicon glyphicon-ok"></span> Actualizar</button>

			<a ng-href="#/detalle/{{contactId}}" class="btn btn-warning" ng-show="contactId>0"><span class="glyphicon glyphicon-remove"></span>  Cancelar</a>

			<a ng-href="#/indice" class="btn btn-warning" ng-show="contactId==0"><span class="glyphicon glyphicon-remove"></span>  Cancelar</a>
		</form>
		
	</div> <!-- addHeader -->
</section> <!-- main-list -->


